body{
	padding:0;
	margin:0;
}
/*Inicio de la Barra Lateral*/

.btn{
	position: fixed;
	top:60px;
	left: 0px;
	height: 45px;
	width: 45px;
	text-align: center;
	background: #FFF;
	border-radius: 3px;
	cursor: pointer;
	box-shadow: 0 9px 9px 0 rgba(0,0,0,.1);
	transition: left 0.4s ease; 
	z-index: 100;
}
.btn.click{
	left: 251px;
}

.btn span{
	color:#981a1a;
	font-size: 28px;
	line-height: 45px;
}
.btn.click span:before{
	content: '\f00d';
}
.Barra{
	z-index: 100;
	
	position: fixed;
	width: 250px;
	height: 100%;
	left: -250px;
	top: 65px;
	background: #cecece;
	transition: left 0.4s ease;
}
.Barra.show{
	left: 0px;
}

.Barra .texto{
	color: white;
	font-size: 30px;
	font-weight: bolder;
	line-height: 40px;
	text-align: center;
	background: #981a1a;
	letter-spacing: 1px;
}

.Barra ul{
	background: #fff;
	height: 100%;
	width: 100%;
	list-style: none;
	box-shadow: 0 9px 9px 0 rgba(0,0,0,.1);

}

.Barra ul li{
	line-height: 40px;
	border-bottom: 1px solid rgb(136 0 0);
}
.Barra ul li:last-child{
	border-bottom: 1px solid red;
}

.Barra ul li a{
	position: relative;
	color:black;
	text-decoration: none;
	font-size: 20px;
	padding-left:10px;
	font-weight: 200;
	display: block;
	width: 100%;
	border-left: 15px solid transparent;  
}
.Barra ul li.active a{
	color: #981a1a;
	background: #F3F2F3;
}
.Barra ul ul{
	position: static;
	display: none;
}

.Barra ul .Base-show.show{
 display: block;
}
.Barra ul .Productos-show.show2{
 display: block;
}
.Barra ul ul li{
	line-height: 42px;
	border-bottom: none;
}

.Barra ul ul li a{
	font-size: 18px;
	color: black;
	padding-left: 20px;
}
.Barra ul li.active ul li a{
	color: black;
	background:#FFF;
}
.Barra ul ul li a:Hover{
   color: #981a1a!important;
   background: #F3F2F3!important; 
}


/*Tabla CRUD*/

.TablaBD{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: black;
	background:#f7fafa;
	overflow: auto;
}

.TablaBD .CabezaHerramientas{
	border-bottom: solid 2px;
	padding:12px;
	display: flex;
	align-items: baseline;
	position: sticky;
	background: #F7FAFA;
	top: 0;
	left: 0;
}
.TablaBD .Herramientas button{
	font-size: 18px;
}
.TablaBD .CabezaHerramientas .Herramientas ul{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: start;
	align-items: baseline;
}

.TablaBD .CabezaHerramientas .Herramientas ul li{
	display: inline-block;
	margin: 0 2px;
	align-items: baseline;
}
.TablaBD .PieHerramientas{
	padding: 12px;
	display: flex;
	align-items: baseline;
}

.TablaBD .PieHerramientas .ListaItems{
	width: 60%;
}

.TablaBD .PieHerramientas .PaginasTabla{
	margin-left: auto;
	margin-right: 0;
	width: 50%; 
}

.TablaBD .PieHerramientas .PaginasTabla ul{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: baseline;
	justify-content: flex-end;
}

.TablaBD .PieHerramientas .PaginasTabla ul li{
	display: inline-block;
	margin: 0 2px;
}

.TablaBD .PieHerramientas .PaginasTabla ul li button,
.TablaBD .CabezaHerramientas .PaginasTabla ul li button{
	color: black;
	width: 100%;
	border: 0;
	border-radius: 2px;
	background: white;
	cursor: pointer;
	font-size: 15px;
}

.TablaBD .PieHerramientas .PaginasTabla ul li button:hover,
.TablaBD .CabezaHerramientas .PaginasTabla ul li button:hover{
	background: #981a1a;
	color: white;
}

.TablaBD .PieHerramientas .PaginasTabla ul li span.activo{
	background: #981a1a;
	color: white;
}

.TablaBD .PieHerramientas .PaginasTabla ul li button,
.TablaBD .PieHerramientas .PaginasTabla ul li span,
.TablaBD .CabezaHerramientas .Herramientas ul li button{
	padding: 6px 12px;
}

.TablaBD .TableroDatos{
	font-weight: 100;
	border-collapse: collapse;
	width: 100%;
}

.TablaBD .TableroDatos,
.TablaBD .TableroDatos th,
.TablaBD .TableroDatos td{
	padding: 12px 12px;
}

.TablaBD .TableroDatos tr{
	color: var(--texto-gris);
}
.TablaBD .TableroDatos th{
	font-weight: bolder;
	text-align: left;
	border-bottom: solid 2px;
	border-color: #981a1a;
}

.TablaBD .TableroDatos td{
	font-weight: bolder;
	text-align: left;
	border-bottom: solid 1px;
	border-color: #981a1a;
}

.TablaBD .TableroDatos tbody tr:nth-child(even){
	background-color: #e1e0e1; 
}

.TablaBD .TableroDatos tbody tr:hover{
	background-color:#981a1a; 
	color: #fff;
}
.TableroDatos td input[type=submit]{
	background: transparent;
	border:none;
	font-size: 20px; 
}

/*Fin Tabla BD*/

/*Inicio Formularios de creación: Productos*/

.cat2{
	box-shadow: 0 9px 9px 0 rgba(0,0,0,.2);
} 
.SeccionImagen{
	width: 26%;
	padding: 10px; 
	background: #fff;
	box-shadow: 0 9px 9px 0 rgba(0,0,0,.2);
	border-radius: 4px;
	min-width: 200px;
	display: block;
	overflow: hidden;
}
.SeccionImagen img{
	width: 100%;
}
.SeccionImagen p{
	font-size: 22px;
	margin-top: auto;
}
.SeccionImagen input{
	font-size: 18px;
}
.SeccionImagen .BotonEnviar{
	margin-top: auto;
	width: 100%;
	height: 40px;
	background:#e64b4b;
	border-color: #ff8989;
	color: #ffffff;
	border-radius: 10px;
	border-bottom: 8px;
	font-weight: bolder;
	cursor: pointer; 
}
.SeccionImagen .BotonEnviar:hover{
   color:#e64b4b;
   background:#FFFFFF;
}

.BotonSubir {
	height: 45px; 
	width: 100%; 
	overflow: hidden; 
	position: relative; 
	cursor: pointer; 
	background-color: #ecebec; 
	font-size: 35px;
	font-weight: bold;
	text-align: center; 
} 
.SubirArchivo { 
 cursor: pointer; 
 height: 100%; 
 position:absolute; 
 top: 0; 
 right: 0; 
 z-index: 99;  
 font-size:50px;  
 opacity: 0; 
 -moz-opacity: 0; 
 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0) 
}

/* Fin sección Imagen*/

/*Inicio sección formularios de producto*/

.SeccionFormulario{
	width: 40%;
	padding: 10px; 
	background: #fff;
	box-shadow: 0 9px 9px 0 rgba(0,0,0,.2);
	border-radius: 4px;
	min-width: 200px;
	display: block;
}

.CajaFormulario{
	padding: 10px;
	display: block;
} 

.CajaFormulario input[type=text],.CajaFormulario textarea,
.CajaFormulario .BotonProducto{
	width: 100%;
	padding: 5px 10px;
	border-radius:3px;
	border: 1px solid #bababa;
	margin-bottom: 8px;
	font-size: 20px;
	color: var(--texto-gris);
}
.CajaFormulario textarea{
	resize: none;
	height: 180px;
}

.CajaFormulario .BotonProducto{
	font-weight: bold;
	background:#e64b4b;
	border: 2px solid #e64b4b;
	color: #fff;
	cursor: pointer;
}
.CajaFormulario .BotonProducto:hover{
	color:#e64b4b;
	transition: 0.3s;
   	background:#FFF;
}

