:root{
  --texto-gris: rgb(60,60,60);
  --rojo-principal:#CE3F3F;
}
/*contenido de fondo*/
* {
  padding: 0;
  margin: 0;
}
/*boderdes de los botenes como iniciar sesion etc*/
*, *:before, *:after {
  box-sizing: border-box;
}
/*cambiar fondo de pantalla*/
body {
  background-color:#F3F2F3;
  font-family: "Ubuntu", helvetica;
}
/*color de se te olvido la contraseña*/
a {
  text-decoration: none;
  color: #F3F2F3;
  transition:  .5s ease;
}
/*accion de color de se te olvido la contraseña*/
a:hover {
  color: #e64b4b;
}
/*editar fondo del formulario con los bordes*/
.contenedor-formularios {
  background:rgb(60,60,60);
  padding: 40px;
  max-width: 700px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
/*editor de las tablas del formulario*/
.contenedor-tabs {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
}
/*editor de las tablas del formulario*/
.contenedor-tabs:after {
  content: "";
  display: table;
  clear: both;
}
/*editar los cuadros de iniciar sesion y registro*/
.contenedor-tabs li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: .5s ease;
}
/*accion de cuando pasa el mouse muestra el color de inicar sesion y registro*/
.contenedor-tabs li a:hover {
  background-color: rgb(60,60,60);
}
/*colores del los botones  de iniciar sesion y registre*/
.contenedor-tabs .active a {
  background: var(--rojo-principal);
  color: #fff;
}
/*para cuando se actualize no se repita el formulario*/
.contenido-tab > div:last-child {
  display: none;
}
/*texto de iniciar sesion y registre cambiarle color y editar*/
h1 {
  text-align: center;
  color: #fff;
  font-weight: 300;
  margin: 0 0 40px;
}
/*la letra de llenar el formulario con sus acciones o lo que hace cuando valla a registarse*/
label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: #fff;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
}
/*la margen de la letra como lo que pide para iniciar sesion o registrarse*/
label .req {
  margin: 2px;
}
/*accion de cuando llene el formulario la letra baja*/
label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}
/*letra del*/
label.active .req {
  opacity: 0;
}
/*color de la letra cuando hace la accion que es bajar*/
label.highlight {
  color: #fff;
}
/*editar los cuadros donde digita los datos */
input,select {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #a0b3b0;
  border-top: none;
  border-left: none;
  border-right: none;
  color: #fff;
  border-radius: 0;
  transition: all 0.5s ease;
  border-radius: 5px;
  outline:none;
}
option{
  color: black;
}
/*colore de los cuadros donde digita los datos*/
input:focus {
  outline: none;
  border-color: #81ab18;
}
/*centracion de la letra donde pide los datos*/
.contenedor-input {
  position: relative;
  margin-bottom: 40px;
}
/*controla cuando pasa al otro lado que es registrarse no se pase los datos de iniciar sesion*/
.fila-arriba:after {
  content: "";
  display: table;
  clear: both;
}
/*controla la letra para que no quede toda amontonada en el registrarse*/
.fila-arriba div {
  float: left;
  width: 48%;
  margin-right: 4%;
}
/*pasa la casilla del apellido al lado del nombre*/
.fila-arriba div:last-child {
  margin: 0;
}
/*edita los  colores de las casillas cuando ya se halla registrado o iniciado sesion*/
.button {
  border: 0;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 15px 0;
  font-size: 2rem;
  background: var(--rojo-principal);
  color: #fff;
  transition: all .5s ease;
  -webkit-appearance: none;
}
/*editar color de cuando pasa el mouse sobre el boton iniciar o registrarse se muestra el control*/
.button:hover, .button:focus {
  background:#e64b4b;
}
/*adaptar los botones*/
.button-block {
  display: block;
  width: 100%;
}
/*acomoda la frase que dice se te olvido la contraseña*/
.forgot {
  margin-top: -20px;
  text-align: right;
  margin-bottom: 20px;
}
/*esto es para que se adapte el formulario */
@media screen and (max-width: 500px) {
  	.fila-arriba div {
    	width: 100%;
  	}
  	.fila-arriba div:last-child {
    	margin-bottom: 40px;
  	}
}
@media screen and (max-width: 400px) {
  .contenedor-tabs li a {
    width: 100%;
  }
  .contenedor-formularios{
  	margin: 0 auto;
  	padding: 10px;
  }
  
}