@import url("https://fonts.google.com/specimen/Bebas+Neue?preview.text=Metodos%20de%20pago&preview.text_type=custom");

:root{
	--texto-gris: rgb(60,60,60);
	--rojo-principal:#CE3F3F;
}
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
 background: #F3F2F3;
}

/* Mensajes */
.getMensaje{
	width: 100%;
	margin-bottom: 5px;
	padding: 10px 25px;
	color: #fff;
	font-weight: bold;
}

.correcto{
	background: #28a745;
}
.incorrecto{
	background: #d12020;
}

/* header */
header{
	background: #F7FAFA;
	width: 100%;
	height: 60px;
	display: flex;
	align-items: center;
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
	position: sticky;
	top: 0;
	z-index: 100;
}
.i{
	font-size: 50px;
}
.logo{
	width: 100px;
	height: 100%;
	margin-right: 20px;
	padding: 0 20px;
}
.logo img{
	width: 100%;
}

.busqueda{
	width: 45%;
	padding: 10px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	display: flex;
	align-items: center;
}
.busqueda input{
	width: calc(100% - 0px);
	border:none;
	outline: none;
	padding-left: 10px;
	font-size: 16px;
}
.busqueda img{
	width: 20px;
	padding-left: 5px; 
	opacity: .7;
	border-left: 1px solid rgb(100,100,100); 
}


.navegador{
	position: absolute;
	right: 20px;
} 
.navegador ul{
	display: flex;
	align-items: center;
}
.navegador ul li{
	float: left;
	list-style: none;
	padding: 0 10px; 
}

.navegador li a{
	color: var(--texto-gris);
	text-decoration: none;
}
.navegador li a:hover{
	transition: 0.6s;
	border-bottom: 1px solid var(--texto-gris);	
}
header i{
	font-size: 23px;
	transition: 0.3s;
}
header i:hover{
	color: #666;
}

.navegador img{
	width: 25px;
	opacity: .8
}
/* fin header */

.contenedor{
	padding: 20px 40px;
}

section{
	width: 100%;
	max-width: 1200px;
	margin:auto;
}

/* slider */
.sec1{
	display: flex;
	height: 350px;
	margin-bottom: 20px;
	justify-content: space-between;
	
}
.slider{
	height: 350px;
	width: 100%;
}
.slider iframe{
	width: 100%;
	height: 100%;
}
.secciones{
	width: 95%;
	padding: 0;
	max-height: 86vh;
	margin:auto;
	margin-top: 20px;
	z-index: 10;
	overflow-y: auto;
	position: relative;
}
.categorias{
	width: 30%;
	min-width: 200px;
	background: #fff;
	overflow-y: auto;
	height: 350px;
	position: relative;
	color: var(--texto-gris);
}
.categorias h1{
	position: sticky;
	top: 0;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,.2);
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 27px;
	color: var(--texto-gris);
	font-weight: 100;
}
.categorias li{
	text-align: center;
	height: 30px;
	cursor: pointer;
}
.categorias li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: var(--texto-gris);
	display: flex;
	justify-content: center;
	align-items: center;

}
.categorias li:hover{
	box-shadow: 0 100px 0 rgba(0,0,0,0.1) inset;
}
.categorias li .actual{
	box-shadow: 0 100px 0 rgba(0,0,0,0.2) inset;
}

/* fin slider */

/*Slider 2*/


.TituloInventario{
	text-align: center;
}
.ContenedorInventario{
    display: inline-flex;
	background-color:#ffffff;
	width: 100%;
	height: 100%;
}
 .ContenedorInventario .categorias2{
 	width: 20%;
 	height: 100%;
 }

 .ContenedorInventario .ContenedorScrollProductos{
 	width: 100%;
 }


.ContenedorInventario h1{
	position: sticky;
	top: 0;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: #fff;
	width: 100%;
	text-align: center;
	padding: 5px;
	font-size: 27px;
	color: var(--texto-gris);
	font-weight: 100;
}

.categorias2{
	width: 20%;
	min-width: 200px;
	
	background: #fff;
	overflow-y: auto;
	height: 100%;
	position: relative;
	color: var(--texto-gris);
	box-shadow: 0 1px 4px 2px rgba(0,0,0,.1);
}

.categorias2 li{
	text-align: center;
	height: 50px;
	cursor: pointer;
}
.categorias2 li a{
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-weight: 400;
	color: var(--texto-gris);
	display: flex;
	justify-content: center;
	align-items: center;

}
.categorias2 li:hover{
	box-shadow: 0 100px 0 rgba(0,0,0,0.1) inset;
}
.categorias2 li .actual{
	box-shadow: 0 100px 0 rgba(0,0,0,0.2) inset;

}

.ContenedorScrollProductos{
	width: 100%;
	background-color: #e0dfe0;
	overflow: auto;

}

.ContenedorScrollProductos .ContenedorCartaInventario{
	margin: 10px;
	height: 220px;
	width: 180px;
	background-color: white;
	display: inline-block;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.2);


}
.ContenedorCartaInventario:hover{
	transition: .8 ease;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.3);
}

.ContenedorCartaInventario .ImagenCartaInventario{
	padding: 5px;
	width: 100%;
	height: 95px;
	text-align: center;
	overflow: hidden;
}

.ImagenCartaInventario img{
	transform: scale(1.2) translateY(5px);
	height: 80%;
}

.ContenedorCartaInventario .NombreCartaInventario{
	
	width: 100%;
	height: 30px;
}

.NombreCartaInventario .TituloCartaInventario{
	text-align: center;
	width: 100%;
	height: 100%;
	font-size: 11px;
	font-weight: bolder;
	
}

.ContenedorCartaInventario .texto{
	padding: 0 15px;
	font-size: 15px;
	width: 100%;
}
.ContenedorCartaInventario .texto tr td:nth-child(2){
	text-align: right;
}

.ContenedorCartaInventario .ContenedorBotonesCartaInventario{
	width: 100%;
	display: inline-flex;
	justify-content: center;
}

.ContenedorBotonesCartaInventario #BotonInventario{
		margin-left: 4px;
		height: 25px;
		width: 80px;
}

.ContenedorBotonesCartaInventario .BotonActualizarCarta{
	background-color: #00C5E4;
	color: white;
	font-weight: 500;
	border:none;
	cursor: pointer;
}

.ContenedorBotonesCartaInventario .BotonAgotarCarta{
	background-color: #EA3A3F;
	color: white;
	font-weight: 500;
	border:none;
	cursor: pointer;
}

.ContenedorBotonesCartaInventario .BotonActualizarCarta:hover{
	background-color: #00ACC8;
}

.ContenedorBotonesCartaInventario .BotonAgotarCarta:hover{
	background-color:#C42A2E;
}


/*Fin slider 2*/


.contenedor h1{
	color: var(--texto-gris);
	font-weight: 100;
}




/*CARTAS DE PRODUCTOS*/
.container-card{
	width: 100%;
	display: flex;
	margin: auto;
	justify-content: center;
	flex-wrap: wrap;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	min-width: 200px;
	max-width: 300px;
	width: 20%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
/*BORDE CARTA CON HOVER*/
.card:hover{
	box-shadow: 2px 5px 5px rgba(0,0,0,0.4);
	transform: translateY(-2%);
}
.card img{
	width: 100%;
	object-fit: contain;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
/*CONTENIDO TEXTO DEL BOTÓN*/
.card .contenido-card a,.card .contenido-card input, .botonesDetalles input{
	display: inline-block;
	padding: 5px 10px;
	margin: 5px 10px;
	text-decoration: none;
	border-radius: 4px;
	border: none;
	transition: all 400ms ease;
}

.verde{
	background: #20A217;
	color: #fff;
}
.rojo{
	border-color:#D92626;
	background: #D92626;
	color: #fff;
}
.azul{
	border-color:#14A0E1;
	background: #14A0E1;
	color: #fff;
}
.azul:hover{
	background:#ccc;
	color: #14A0E1;
}
.verde:hover{
	background: #ccc;
	color: #20A217;
}
.rojo:hover{
	background: #ccc;
	color: #D92626;
}

.paginas ul{
	padding: 10px;
	display: flex; width: 80%;
	margin: auto;
	justify-content: space-between;
	list-style: none;
	border-top: 1px solid #bbb;
}

.paginas a{
	border-radius: 2px;
    padding: 5px 10px;
    background: #fff;
    box-shadow: 2px 2px 2px #555;
	color: #090478;
	text-decoration: none;
	font-size: 18px;
	transition: .2s;
}
.paginas a:hover{
    background: #090478;
	color: #fff;
}


/* carrito  */
.BarraCarrito{
	z-index: 100;
	position: fixed;
	width: 340px;
	right: -340px;
	top:60px;
	background: rgba(230,229,230,1);
	background: -moz-linear-gradient(left, rgba(230,229,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 44%, rgba(230,229,230,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(230,229,230,1)), color-stop(38%, rgba(255,255,255,1)), color-stop(44%, rgba(255,255,255,1)), color-stop(100%, rgba(230,229,230,1)));
	background: -webkit-linear-gradient(left, rgba(230,229,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 44%, rgba(230,229,230,1) 100%);
	background: -o-linear-gradient(left, rgba(230,229,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 44%, rgba(230,229,230,1) 100%);
	background: -ms-linear-gradient(left, rgba(230,229,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 44%, rgba(230,229,230,1) 100%);
	background: linear-gradient(to right, rgba(230,229,230,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 44%, rgba(230,229,230,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e5e6', endColorstr='#e6e5e6', GradientType=1 );

	transition: right 0.4s ease;
	
}
.BarraCarrito center{
	padding: 10px;
}

.BarraCarrito .TituloCarrito:before{
	content: "";
    position: absolute;
    top: -30px;
    left: 285px;
    border: 15px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
.BarraCarrito.show{
	right:0px;
	transition: right 0.4s ease;
}

.BarraCarrito .ContenedorProductosCarrito{
	width: 100%;
	max-height: 50vh;
	overflow: auto;
}

.BarraCarrito .TituloCarrito{
	background-color:black;
	height: auto;
	width: 100%;
	padding: 5px;
	
}

.Vaciar{
	width: 100%;
    border: none;
    background: #ccc;
    padding: 5px;
    color: var(--rojo-principal);
}
.Vaciar:hover{
	font-weight: bolder;
}

.BarraCarrito .BarraBotonComprarProductosCarrito{
	background-color: #eaeaea;
	height: auto;
	width: 100%;
	
}

.BarraBotonComprarProductosCarrito button{
	width: 100%;
	height: 100%;
	font-size: 25px;
	font-weight: 600;
	color: white;
	background-color: #dc2929;
	cursor: pointer;
	border:none;
	box-shadow: 0 5px 5px rgba(0,0,0,.1);
}

.BarraBotonComprarProductosCarrito .LinkBotonCarrito{
	color: white;
	text-decoration: none;
}

.BarraBotonComprarProductosCarrito button:hover{
 	color: white;
 	background-color: #a92525;
 	transition: all 200ms ease-out;
}

.TituloCarrito2{
	background-color:black;
	height: auto;
	display: flex;
}

.TituloCarrito h1{
	color: #eaeaea;
	font-weight: 700;
	text-align: center;
}

.ContenedorProductosCarrito{
	background: #ccc;
}

.BarraCarrito .ProductosCarrito{
	width: 100%;
	box-shadow: 0 2px 2px  rgba(0,0,0,.4);
	background: #eee;
	margin: 4px 0;
	display: inline-flex;
	align-items: center;
	transition: .2s;
}

.BarraCarrito .ProductosCarrito:hover{
	box-shadow: 0 4px 4px  rgba(0,0,0,.4);

}
.ProductosCarrito .ImagenProductoCarrito{
	height: auto;
	width: 150px;
	background: #fff;
}

.ImagenProductoCarrito img{
	width: 100%;
}

.TextoProductoCarrito{
	width: 190px;
	height: 100%;
}

.PrecioProductoCarrito{
	margin-left: 5px; 
	text-align: center;
	width: auto;
}

.TextoProductoCarrito p{
	text-align: left;
	font-weight: 100;
	font-style: oblique;
	padding: 3px 5px;
}

.PrecioProductoCarrito p{
	text-align: right;
	font-style: oblique;
	font-weight: 400;
}

.SacarProductoCarrito{
	margin-left: 25px; 
	height: 100%;
	width: 100px;
}

.SacarProductoCarrito button{
	border:none;
	color: #bd3737;
	font-size: 40px;
	cursor: pointer;
	font-weight: bolder;
	background-color: transparent;
	transition: .2s ease-in;
}

.SacarProductoCarrito button:hover{
	color:#ff0000;
}

.TituloCarrito2 h1{
	padding-left:70px; 
	color: white;
	font-weight: 700;
	
		
}
.TituloCarrito2 h2{
	
	color: white;
	font-weight: 400;
	text-align: center;
	margin-left: 30px;
	padding-top: 4px;
	font-size: 20px;
}

.TituloCarrito2 button{
	margin-left: 10px;
	color: black;
	width: 100px;
	font-weight: 700;
}


/* detalles de producto */
.detalles{
	box-shadow: 3px 3px 2px #aaa;
}
.detallesProducto{
	display: flex;
    align-items: center;
}
.detalles  > div{
	position: relative;
}
.detalles h1{
	font-size: 28px;
}
.detImg{
	overflow: hidden;
	background: #fff;
	display: flex;
	align-items: center;
	width:40%;
	padding: 10px;
	justify-content: center;
}
.detImg img{
	width: 80%;
}

/*DETALLES PRODUCTO*/
.detallesProducto{
	width: 60%;
	padding: 15px;
	background: #eee;
	color: black;
	font-family: arial;
	font-size: 18px;
}
.detallesProducto article {
	width: 100%;
}

.detallesProducto h1{
  font-weight: 600;

}
.detalles p{
	color: var(--texto-gris);
}
.textoDetalles{
	overflow: auto;
	padding: 15px;
	max-height: 50vh;
	
}

.precioDetalles{
	font-size: 25px;
	font-weight:700;
}
/*BOTONES DETALLES DEL PRODUCTO*/
.botonesDetalles input{
	min-width: 180px;
	padding: 7px;
}
.botonesDetalles{
	display:flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}


/*FIN DETALLES PRODUCTO*/


/*INICIO FACTURA*/

.TituloFactura{
	margin-top: 20px;
	margin-left: 45%;
	width: 150px;
	height: auto;
}

.SecciónFactura{
	
	width: 90%;
	height: 650px;
	display: flex;
	
	/*overflow: auto;*/
}

.SecciónFactura .ProductosFactura{
	width: 50%;
	height: 100%;
	background-color: white;
}

.ProductosFactura .ScrollFactura{
	width:100%;
	height: 650px;
	background-color: white;
}

  .ScrollFactura{
	/*overflow: scroll;*/
	width: auto;
	overflow: scroll;
	 
	
}


.ListaProductoFactura{
	display: inline-flex;
	background-color: white;
	height: 100px;
	width: 100%;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
}

.ListaProductoFactura .ImagenListaProductoFactura{
	height: 100%;
	width: 140px;
	background-color: blue;
}

.ImagenListaProductoFactura img{
	height: 100%;
	width: 100%;
}

.ListaProductoFactura .TituloFacturaProducto{
	width: 120px;
	height: 100%;
	background-color: white;
	overflow: auto;
}

.TituloFacturaProducto h2{
	padding-top:25px;
	text-align: center;
	font-size: 14px;
}

.ListaProductoFactura .PrecioOriginalProductoFactura{
	width: 120px;
	height: 100%;
	background-color: white;
}

.PrecioOriginalProductoFactura h2{
	padding-top: 35px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: green;
	opacity: .4;
	overflow: auto;
}

.ListaProductoFactura .CantidadProductoFactura{
	height: 100%;
	width: 35px;
	
}

.CantidadProductoFactura input{
	margin-top: 30px;
	width: 35px;
	height: 30px;
	font-size: 18px;
	border:none;
}

.PrecioTotalProductoFactura h2{
	padding-top: 35px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: green;
	overflow: auto;
	opacity: .8;
}

.SacarProductoFactura{
	height: 100%;
	background-color: white;
}

.SacarProductoFactura button{
	margin-top:25px;
	margin-left:15px;
	margin-right:10px;
	height: 35px;
	width: 60px;
	font-weight: 700;
	color: red;
	border-color: red;
	background-color: white;
	cursor: pointer;

}

.ScrollFactura::-webkit-scrollbar {
  width: 15px;
}
.ScrollFactura::-webkit-scrollbar-track {
  background-color: #f3f2f3;
  border-radius: 10px;
}
.ScrollFactura::-webkit-scrollbar-thumb {
  background-image: linear-gradient(70deg, black, white, black);
  border-radius: 10px;
}

/*inicio: Metodos de pago*/


.MetodosPago{
	height: 100%;
	width: 50%;
	background-color: green;
}
.MetodosPago .ContenedorMetodosPago{
	margin-left:15px;
	margin-top:15px;
	height: 95%;
	width: 95%;
	background-color: white;
}

.ContenedorMetodosPago h1{
	padding-top: 15px;
	text-align: center;
	font-family: Arial Narrow;
	font-weight: 400;	
}

.ContenedorMetodosPago h2{
	padding-top:25px;
	padding-left:15px;
	font-size: 25px;
	font-weight: 100; 
}

.SubtotalFactura{
	display: flex;
}
.TotalFactura{
	display: flex;
}

.SubtotalMP{
	margin-left:225px;
	color: green;
	opacity: .6; 
}

.TotalMP{

	margin-left:268px;
	color: green;
	opacity: .9;  
}

.MetodosPago .OpcionMetodoPago{
	margin-top: 30px;
	margin-left: 15px;
	
}

.OpcionMetodoPago input{
	height: 20px;
	width: 25px;
	margin-top:35px; 
	
}

.OpcionMetodoPago h3{
	display: inline-flex;
	font-size: 20px;
}

.MarcadoFactura {
 display:flex;
 width: 450px;
 height: 80px;
 margin-top:60px;
 margin-left:5px;
 padding: 15px;
 font-weight: 700px; 
}



.MarcadoFactura input{
	font-weight: 700px;
	width: 25px;
	height: 20px;
	margin-right:5px;
	opacity: 0.8;
  	cursor: pointer;
  	 pointer-events: auto;
  	

}

.MarcadoFactura.Verificado1 input{
	cursor: pointer;
	opacity: 0.9;
	pointer-events: auto;

}





.MarcadoFactura h3{
	width: 410px;
	height: 80px;
	font-weight:100; 
}

.IniciarPagoFactura{
	height: 40px;
	width: 290px;
	margin-left: 75px;
	pointer-events: none;
}

.IniciarPagoFactura button{
	width: 100%;
	height: 100%;
	background-color: #a01e1e;
	font-size: 20px;
	font-weight: 700;
	color: white;
	transition: .7s ease;
	opacity: 0.6;
  	cursor: not-allowed;
  	pointer-events: none;
}

.IniciarPagoFactura.Verificado2 button{
	width: 100%;
	height: 100%;
	background-color: #a01e1e;
	font-size: 20px;
	font-weight: 700;
	color: white;
	transition: .7s ease;
  	cursor: pointer;
  	opacity: 0.9;
  	pointer-events: auto;
}

.IniciarPagoFactura.Verificado2 button:hover{
	background-color: #ea1919;
	transition: .7s ease;
}










/*FIN FACTURA*/